# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
.vscode
# Fortran module files
*.mod
*.smod
MODULE.bazel.lock
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mavlink
bazel-bin
bazel-out
bazel-testlogs
bazel-simba_mavlink
.venv
pymavlink
