---
name: Build Mavlink Definitions
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
jobs:
  build:
    name: Build Mavlink 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install Requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y git python3-pip zip
          git clone https://github.com/ardupilot/pymavlink.git --recursive
          pip install -r pymavlink/requirements.txt --break-system-packages
          pip install lxml --break-system-packages

      - name: Generate Files
        run: |
          python3 -m pymavlink.tools.mavgen --lang=C --wire-protocol=1.0 \
                      --output=lib ./simba.xml  --strict-units
      
      - name: Create Zip
        run: |
          zip -r simba_mavlink.zip lib
          
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          make_latest: true
          generate_release_notes: true
          files: |
            simba_mavlink.zip
            simba.xml
            README.md
            
